{{>header}}

<div class="form">
    <form action="">
        <label for="form1" class="labell" > Enter City</label> <br>
        <input type="text" id="form1" class="form-control" />
        <button type="submit" class="btn"> <i class="fa fa-search"></i> </button>
    </form>
</div>

<br>
<br>

<p id="mess1"></p>
<p id="mess2"></p>


{{>footer}}